[flake8]
max-line-length = 88
extend-ignore = E501, E203, W503, F401
per-file-ignores =
    settings*.py:E402,F403,F405
exclude =
    .git,
    __pycache__,
    migrations,
    settings.py,
    sitemap.py,
    __init__.py
    venv,
    .venv