# DJANGO SETTINGS
ALLOWED_HOSTS=
SECRET_KEY=django-insecure-qrm5y0b57dx@crs12x7_%+z1czo6!vx8rb9f2+agc332-9c%ke
DEBUG=True

# DATABASE SETTINGS
DB_PASSWORD=balancesystem
DB_NAME=balancesystem
DB_USER=balancesystem
DB_HOST=postgres
DB_PORT=5432

# CELERY SETTINGS
REDIS_CELERY_URL="redis://redis:6379/1"
CELERY_BROKER_URL="redis://redis:6379/1"
CELERY_RESULT_BACKEND="redis://redis:6379/1"
